rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null;
    }

    match /{collection}/{parentId}/{subCollection}/{documentId} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
